<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div id="welcome">
        <h1>Welcome to the Signup Page</h1>
    </div>
    <div class="frm">
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="email" name="email" placeholder="Email">
            <button type="submit">Sign Up</button>
        </form>
        
    </div>
    <div>
        {% if msg %}
            <h1>{{ msg }}</h1>
        {% endif %}
     </div>
</body>
</html>